:root{
    --space:0.5rem;
    --color-background:#fdfcff;
    --color-on-background:#1a1c1e;
    --color-primary:#015fac;
    --color-on-primary:#ffffff;
    --transition-out:200ms;
    --transition-in:300ms;

    --box-shodow-1: 0px 2px 1px -1px rgba(0,0,0,0.2),
                   0px 1px 1px 0px  rgba(0,0 ,0 ,0.14 ),
                   0px 1px 3px 0px  rgba(0, 0, 0, 0.12);

    --box-shodow-2: 0px 3px 1px -2px rgba(0,0 ,0 ,0.2 ),
                   0px 2px 2px 0px  rgba(0,0 ,0 ,0.14 ),
                   0px 1px 5px 0px  rgba(0, 0, 0, 0.12);
   
}
html{
    font-size: 80%;
}
@media (prefers-color-schema: dark){
    :root{
        --color-background:#1a1c1e;
        --color-on-background:#e3e2e6;
        --color-primary:#a4c9ff;
        --color-on-primary:#00315d;
    }
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--color-background);
    color: var(--color-on-background);
}

.contain{
    display: flex;
    margin: calc(2* var(--space));
    gap: calc(2* var(--space)) ;
    padding: calc(2* var(--space));
    flex-wrap: wrap;
}

.box{
    border-radius: 5px;
    font-size:  1em;
    box-shadow: var(--box-shodow-1);
    flex-grow: 1;
    flex-basis: 35%;
    user-select: none;
    transition: background-color var(--transition-out),
                color var(--transition-out),
                box-shodow var(--transition-out),
                font-size var(--transition-out);
}

.box h3{
    margin: calc(2* var(--space));   
}

.box p{
    margin: calc(2* var(--space));
}

.box alwatr-icon{
    font-size: 2em;
    margin: calc(2* var(--space));
}

.box:hover{
    box-shadow: var(--box-shodow-2);
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    font-size: 1.1em;
    transition: background-color var(--transition-in),
                color var(--transition-in),
                box-shodow var(--transition-in),
                font-size var(--transition-in);
}
